{% load staticfiles %}
<!--DOCTYPE html-->
<html>
    <head>
        <title>{% block title %} My Base Template {% endblock %}</title>
        <link rel='stylesheet' href='{% static "css/base.css" %}' />     
    </head>
    
    <body>
        
        <div><!-- Header -->
        </div>

        <div><!-- Side Menu --> 
            <ul id="navmenu">
                <li> <a href="http://127.0.0.1:8000/mainapp/create_job/"> Side Menu </a></li>
            </ul>  
        </div>

        <div><!-- Main Content -->
            {% block body_block %} body block default content {% endblock %}
        </div>

         <div><!-- Footer -->   
        </div>

    </body>
</html>