{% extends "base.html" %}
{% block title %}  display jobs {% endblock %}


{% block script %} 
    <script> 
        $(document).ready(function(){
            $("button").click(function(){
                $("button").hide();
            });
        });
    </script>
{% endblock %}

{% block body_block %}
    <ul id="joblist">
    {% for job in job_list %}
        <li>{{job.title}}  -  
            
        {% if job.title %}   
            <a href="{% url 'delete_job' pk=job.pk %}">Delete</a> </li>
        {% endif %}
            <ul id="joblist">
                <li>
                    <table>
                        <tr>
                            <td>start = {{job.start_date}}, finish = {{job.finish_date}} </td>
                            <td> <button id="#delete" type="button" onclick="alert('Job Has Been deleted!')">Delete</button></td>
                        </tr>
                    </table>
                </li>
            </ul>
    {% endfor %}
    </ul>
    <p>This is where the todo list will be displayed </p>
    <p>i have to figure out how to save the submitted data in view.job_create to the db before displaying it in the display jobs page </p>
    <a href="http://127.0.0.1:8000/mainapp/add_job/" > add another job </a>
{% endblock %}