{% extends "base.html" %}
{% block title%}
    Jobs
{% endblock title %}
{% block content %}
    <h2>Jobs</h2>
    <table id='joblist'>
        <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>Finish Date</th>
            <th>Days remaining</th>
        </tr>

        
        {% for job in job_list %}
            {% if job.days_left < 3 %}
                <tr class='deadline-approaching'>
            {% else %}
                <tr>
            {% endif %}
                    <td>{{ job.title }} </td>
                    <td>{{ job.start_date }}</td>
                    <td>{{ job.finish_date }}</td>
                    <td >{{ job.days_left }}</td>
                    <td>{% if job.id and job.days_left < 3 %}
                            <a href="{% url "mainapp:delete-job" pk=job.id %}">Delete</a>
                            <a href="{% url "mainapp:job-edit" pk=job.id %}">Edit</a>
                        {% else %}
                            <a href="{% url "mainapp:delete-job" pk=job.id %}">Delete</a>
                            <a href="{% url "mainapp:job-edit" pk=job.id %}">Edit</a>

                        {% endif %}</td>
                </tr>
        {% endfor %}
    </table>


    
{% endblock content%}