{% extends "base.html" %}
{% block title%}
    Jobs
{% endblock title %}
{% block body_block %}
    <h2>Jobs</h2>
    <ul>
        {% for job in job_list %}
            <li>{{ job.title }} 
                <li>Start Date ={{ job.start_date }}</li><li>Finish Date ={{ job.finish_date }}</li>
                    {% if job.id %}
                        <a href="{% url "mainapp:delete-job" pk=job.id %}">Delete</a>
                    {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}